@media (max-width: 900px) {
    #aboutus {
        display: none;
    }
    aside {
        margin-top: 1px;
        display: block;
        float: left;
        background-color: #8fadad;
        font-weight: bold;
        font-size: medium;

        width: 200px;
        height: fit-content;
        border-radius: 8px;
    }

    aside img{
        border: none;
        width: 50px;
        height: 50px;
    }

    aside.logo_blog{
        width: 50px;
        height: 50px;
    }

    aside div {
        display: column;
        justify-content: center;
        align-items: center;
    }

    aside h1 {
        color: white;
        text-align: center;
        padding: 0px;
        margin: 10px 15% auto 15%;
        display: flex;
    }

    aside nav ul{
        padding: 0;
    }

    aside nav li button{
        background-color: var(--menu-color-button);
        font-weight: bold;
        padding: 0px;
        color:white;
        
        width: 100%;
        height: 20px;
        border-radius: 5px;
    }
}

@media (min-width: 901px) {
    aside {
        margin-top: 1px;
        display: block;
        float: left;
        background-color: #8fadad;
        font-weight: bold;
        font-size: medium;

        width: 200px;
        height: fit-content;
        border-radius: 8px;
    }

    aside img{
        border: none;
        width: 100px;
        height: 100px;
    }

    aside.logo_blog{
        width: 100px;
        height: 100px;
    }

    aside div {
        display: column;
        justify-content: center;
        align-items: center;
    }

    aside h1 {
        color: white;
        text-align: center;
        padding: 0px;
        margin: 10px 15% auto 15%;
        display: flex;
    }

    aside nav ul{
        padding: 0;
    }

    aside nav li button{
        background-color: var(--menu-color-button);
        font-weight: bold;
        padding: 0px;
        color:white;
        
        width: 100%;
        height: 20px;
        border-radius: 5px;
    }

}