div.cafe {
    padding: 4px;
}
div.cafe h1{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
}
div.cafe h3{
    margin: 0px 0px 4px 0px;
    font-size: 20px;
    text-align: center;
}
div.cafe h6{
    margin: 0px 0px 10px 0px;
    text-align: right;
}
div.youtube_news {
    width: fit-content;
    height: fit-content;
}