footer {
    clear: both;
}
footer p {
    text-align: center;
    margin-bottom: 0px;
}
footer p a {
    text-decoration: none;
}
footer p a:hover {
    background-color: var(--menu-background-color);
    border-radius: 2px;
}