:root {
	--primary-color: #103481;
	--second-color: #fcfcfcd4;
	--background-color: #8fadad;
	--div-background-color: #d7dfdf;
	--menu-background-color: rgba(153, 102, 0, 0.5);
	--menu-color-button: #996600;    
}

* {
	color: var(--primary-color);
	font-family: 'Arial', sans-serif;
	font-display: swap;
	padding: 0px;
	margin: 0px;
}
body {
	background-color:var(--background-color);
}
p {
	font-size: 1rem;
	line-height: 1.4rem;
	font-weight: 100;
	margin: 0.2rem 0.2rem 0.2rem 0.5rem;
	padding: 0.2rem;
	
	text-indent: 0.2rem; /* tamanho do inicio do paragrafo*/
	text-align: justify;
}
.news img{
	width: 50%;
	height: auto;
}
.images img{
	width: 6rem;
	height: auto;
}
img {
	border: solid 0.2rem;
	border-color: var(--menu-color-button);
	display: flex;
	margin: auto;
}
img.logo {
	border: none;
	width: 10%;
	height: 10%;
}

/*div id='box' - caixa principal do site */
div {
	background-color: var(--div-background-color);
	width: 94%;
	margin: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0.2rem 0.2rem 1rem black;
	padding: 0.2rem;
}

div .YT_link {
	width: fit-content;
	height: auto;
	padding: 2px;
	display: inline-block;
}

header#newsTitle h1{
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0px;
}
header#newsTitle h3{
	margin-top: 0px;
	font-size: 1rem;
	text-align: center;
}
header#newsTitle h6{
	text-align: right;
}

section#content , section#aboutus {
	display: block;
	justify-content: center;
	margin: 0 2% 0 2%;
}
div#site, div#creator, div#youtube {
	width: 88vw;
}
div#site h1, div#creator h1{
	text-align: center;
}
div#site h3{
	margin: 0.1rem 0.2rem 0.1rem 1rem;
}

article h4 ul#lista {
	font-weight: 100;
}
article h4 ul#lista a {
	text-decoration: none;
	transition: 0.2ms;
}
article h4 ul#lista a:hover {
	background-color: var(--menu-background-color);
	border-radius: 0.2rem;
}