#header-menu {
    display: block;
    position: absolute;
    top: -20px;
    left: 15%;
}
#header-menu h1 {
    display: none;
}
/*Formatação do menu*/
#header-menu ul{
    list-style: none;
    text-transform: uppercase;
}
/*formatar itens do menu*/
#header-menu li {
    display: inline-block;
    background-color: var(--menu-color-button);
    padding: 4px;
    margin: 2px;

    border-radius: 2px;
    transition: 0.5s;
}
#header-menu li:hover {
    background-color: #0b6277;
    
}
#header-menu a {
    color: var(--second-color);
    text-decoration: none;
    transition: 0.3s;
}
#header-menu a:hover {
    color: white;
}