header {
    text-align-last: center;
    font-weight: bold;
    font-size: larger;
    padding: 4px;
}
section.news {
    background-color: var(--front-background-color);
    width: 95%;
    margin: 5px auto 5px auto;
    border-radius: 4px;
    box-shadow: 2px 2px 15px black;
    padding: 2px;
}
section.news img{
    display: block;
    float: left;
    margin: 5px;
    width: 200px;
    height: 100px;
}
section.news a{
    display: flex;
    margin-left: 220px;
    margin-top: 50px;

    font-size: 20px;
    text-decoration: none;
    transition: 0.5ms;
}
section.news a:hover{
    background-color: var(--menu-background-color);
    border-radius: 2px;
}

section.news h6 {
    clear: both;
    text-align: right;
    margin: auto;
}
div.youtube_news {
    width: fit-content;
    height: fit-content;
}
@media (max-width: 500px) {
    section.news img{
    width: 30%;
    height: auto;
    }
    section.news a{
        margin-top: 0px;
        margin-left: 30%;
    }
    iframe#news {
        width: 250px;
        height: auto;   
    }
}
@media (min-width: 501px) {
    iframe#news {
        width: 560px;
        height: 315px;
    }
}