/*Seção Sobre nós*/
section#aboutus {
    margin: auto;
    width: auto;
}
.youtube-grid li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.youtube-grid li iframe, .youtube-link iframe {
    border: solid 2px;
    border-color: var(--menu-color-button);
}

@media (max-width: 500px) {
    section#construcao{
        margin-left: 2%;
        color: var(--primary-color);
    }
       /*Videos YouTube - index*/
    .youtube-grid {
        grid-template-columns: 1fr;
        margin: auto;
        width: 300x;
        padding: 5px;
    }
    .youtube-grid li {
        margin: auto;
        width: 290px;
        height: 200px;
    }
    .youtube-grid li iframe, .youtube-link iframe  {
        width: 240px;
        height: 160px;
    }
}

@media (min-width: 501px) {
    section#construcao{
        margin-left: 10%;
        color: var(--primary-color);
    }
     .youtube-grid {
        grid-template-columns: 1fr;
        margin: auto;
        width: 510px;
        padding: 5px;
    }
    .youtube-grid li {
        margin: auto;
        width: 500px;
        height: 350px;
    }
    .youtube-grid li iframe, .youtube-link iframe {
        width: 480px;
        height: 320px;
    }
}

@media (min-width: 901px) {
    section#construcao{
        color: var(--primary-color);
        margin-left: 10%;
    }
    .youtube-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        width: 1010px;
        margin: auto 0 auto 0;
    }
    .youtube-grid li {
        margin: 5px 0 5px 5px;
        
        width: 500px;
        height: 340px;
    }
    .youtube-grid li iframe, .youtube-link iframe {
        width: 480px;
        height: 320px;
    }
}