/*Seção Sobre nós*/
section#aboutus {
  margin: auto;
  width: auto;
}
.youtube-grid li {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.youtube-grid li iframe, .youtube-link iframe {
  border: solid 2px;
  border-color: var(--menu-color-button);
}
/* Visualização em celulares */
@media (max-width: 500px) {
  img{
    width: 40%
  }
  img.badge{
    width: 100%;
  }
/*Videos YouTube - index*/
  .youtube-grid {
    grid-template-columns: 1fr;
    margin: auto;
    width: 80%;
    background-color: var(--menu-background-color);
  }
  .youtube-grid li {
    width: auto;
    margin: 2%;
    height: 8rem;
  }
  .youtube-grid li iframe, .youtube-link iframe  {
    width: 68vw;
    height: 20vh;
  }
}
/* Visualização em tablets */
@media (min-width: 501px) { 
  img{
    width: 40%;
  }
  img.badge{
    width: 100%;
  }
  div.youtube-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    background-color: var(--menu-color-button);
    width: 85vw;
    height: fit-content;
    margin: auto 1 auto 1;
  }

  .youtube-grid li {
    width: 42vw;
    height: 20vh;
  }
  .youtube-grid li iframe, .youtube-link iframe {
    width: 42vw;
    height: 20vh;
  }
}

@media (min-width: 901px) {
  img{
    width: 40%
  }
  img.badge{
    width: 100%;
  }
  div.youtube-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    background-color: var(--menu-color-button);
    width: 85vw;
    height: fit-content;
    margin: auto 1 auto 1;
  }
  
  .youtube-grid li {
    margin: 1px;
    width: 42vw;
    height: 40vh;
  }
  .youtube-grid li iframe, .youtube-link iframe {
    width: 40vw;
    height: 38vh;
  }
}