header.stream {
  padding: 4px;
}
header.stream h1{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
}
header.stream h3{
  margin: 0px 0px 4px 0px;
  font-size: 20px;
  text-align: center;
}
header.stream h6{
  margin: 0px 0px 10px 0px;
  text-align: right;
}

div.youtube_news {
  width: fit-content;
  height: fit-content;
}    
/*Caixa de comentário de códigos*/
.box_code{
  margin-left: 20%;
  width: fit-content;
  display: inline-flex;
  position: relative;
}
@media (max-width: 500px) {
  section.news img{
    width: 30%;
    height: auto;
  }
  section.news a{
    margin-top: 0px;
    margin-left: 30%;
  }
  iframe#news {
    width: 250px;
    height: auto;   
  }
}
@media (min-width: 501px) {
  iframe#news {
    width: 560px;
    height: 315px;
  }
}