
main {
  border: 1px solid black;
  width: 90vw;
  margin: auto;
}
header.header {
  width: 100%;
  flex-direction: column;
}
.body_exercicio {
  width: 100%;
  margin: 0;
  padding: 0;
}
.header_container {
  background-color: cornflowerblue;
  display: block;
  width: 100%;
  height: 15vh;
  border: 1px solid black;

}
.img {
  border: 1px solid black;
  position: relative;
  top: 40%;
  left: 0.5rem;
  height: 8vh;
  width: 15vh;
}
.menu_nav {
  display: flex;
  background-color: rgb(160, 190, 245);
  width: 100%;
  height: 5vh;
  border: 1px solid black;
  border-top: none;
}
.nav_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
}
ul {
  padding:0;
  margin-top: 1vh;
  border: none;
}
li{
  list-style: none;
  box-shadow: darkgrey;
  flex-direction: row;
}
section.banner {
  width: 100%;
  background-color: cadetblue;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  border-top: none;
}
span#banner_title {
  font: 1.5rem bold arial;
  background-color: rgb(78, 119, 78);
  position: relative;
  top: 50%;  
  padding: 8px;
  height: fit-content;
 
}
section.main {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-top: none;
}
div.container {
  justify-content: stretch;
  width: 80%;
  padding-left: 1.2rem;
}
aside {
  background: rgb(181, 236, 181);
  width: 20%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}
div.item {
  text-align: center;
  border: 1px solid;
  padding:0.3rem 0.1rem
}
section.footer{
  background: rgb(204, 179, 226);
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center; 
  border: 1px solid black;
  border-top: none;
}
span#footer_text {
  align-items: center;
  margin-left: 2rem;
  width: 80%;
}

.footer_button {
  height: 3rem;
  width: 3rem;
  border: 1px solid rgb(144, 39, 243);
  background: rgb(149, 93, 201);
}